{% extends "base.html" %}

{% block title %} Pet List Page {% endblock %}

{% block content %}

<h1>Pet details for {{ pet.name }}</h1>

<div>Pet Name: {{ pet.name }}</div>
<div><img src="{{ pet.img }}" alt="Image of {{ pet.name }}"></div>
<div>Pet Age: {{ pet.age }}</div>
<div>Pet Species: {{ pet.species }}</div>

<h2>Edit details for {{ pet.name }}</h2>
<form id="edit-pet-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit">Submit</button>
  </form>
{% endblock %}